<h1> RESTAURANT FOOD TRECK </h1>


<div id="tabsContainer"> <!-- DEBUT TABS   -->
    <header class="tabs-nav">
        <ul>
            <li class="active"> <!-- ONGLETS TABS   -->
                <a href="#tab1">Présentation</a>
            </li>

            <li>
                <a href="#tab2">Menu du jour</a>
            </li>

            <li>
                <a href="#tab3">Contacts</a>
            </li>
        </ul>
    </header>

    <section class="tabs-content"> <!-- DESCRIPTIONS TABS   -->
        <div id="tab1">
        	<p>FoodTreck est une Startup lancée en 2017, c'est un système de restauration gastronomique livrée à domicile en un temps éclair !</p>
        </div>

        <div id="tab2">
        	<p>Côte de boeuf, salade, tomate, oignon</p>
        </div>

        <div id="tab3">
        	<p>contact@foodtreck.com</p>
        </div>
    </section>
</div>

<div class="slideshow"> <!-- DEBUT SLIDESHOW  -->
    <ul>
        <li><%= image_tag('plat1.jpg') %></li>
        <li><%= image_tag('plat2.jpg') %></li>
        <li><%= image_tag('plat3.jpg') %></li>
        <li><%= image_tag('plat4.jpg') %></li>
    </ul>
</div>

