<div id="tabsContainer">
    <header class="tabs-nav">
        <ul>
            <li class="active">
                <a href="#tab1">Présentation</a>
            </li>

            <li>
                <a href="#tab2">Menu du jour</a>
            </li>

            <li>
                <a href="#tab3">Contacts</a>
            </li>
        </ul>
    </header>

    <section class="tabs-content">
        <div id="tab1">
        	<p>FoodTreck est une Startup lancée en 2017, c'est un système de restauration gastronomique livrée à domicile en un temps éclair !</p>
        </div>

        <div id="tab2">
        	<p>Côte de Boeuf, salade, tomate, oignon</p>
        </div>

        <div id="tab3">
        	<p>contact@foodtreck.com</p>
        </div>
    </section>
</div>

